html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom css */


/* general css */
body {
    line-height: 1.5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}


h1 {
    padding-top: 2%;
    font-size: 30px;
    color: white;
    font-weight: 900;
}



.back-img {
    background:linear-gradient(to right, rgba(7, 7, 7, 0.6), rgba(7, 7, 7, 0.6)), url( "../media/img/nature_img-3.jpg");
    /* margin: 2% 20%; */
    background-size: cover;
}

.box-container {
      height: 27%;
      margin: 5% auto;
      justify-content: space-around;
}
.box {
    width: 28%;
    height: 100%;
    border-radius: 5px;
    vertical-align: center;

}
.box4 {
    height: 100%;
    margin: 0 auto;
    background: radial-gradient(ellipse at right bottom, rgba(248, 45, 0, 0.651) 10%, rgba(51, 53, 51, 0.52)), url( "../media/img/papers.co-mm93-la-beach-sea-nature-29-wallpaper.jpg");
    background-position: 100% 100%;
    border-radius: 20px;

}
.single-color-gradient {
    background: linear-gradient(rgb(246,70,71), rgb(246,70,71));

}
.linear-gradient-box {
    background: linear-gradient(to right, rgb(56, 48, 48), rgb(113,31,46)33%, rgba(246, 70, 70, 0.993) 95%);

}

.radial-gradient-box {
    background: radial-gradient(ellipse at 50% 50%, rgba(246, 70, 70),rgb(129, 33, 51)70%, rgb(66, 62, 62));

}
.content {
    width: 1500px;
    height: 1100px;
    margin: 2% auto;
}
.box-container-one-image {
    width: 90%;
    height: 47%;
    margin: 5% auto;
    margin-top: 6.2%;
  
}
.item_center{
    justify-content: center;
    align-items: center;  
    font-size: 25px;     
    font-weight: 600;

}
.justify_center {
    justify-content: center;
}
.justify_between {
    justify-content: space-between;
}
